{% extends 'base.html.twig' %}

{% block title %}New UserBag{% endblock %}

{% block body %}
    <h1>Create new UserBag</h1>

    {{ include('user_bag/_form.html.twig') }}

    <a href="{{ path('app_user_bag_index') }}">back to list</a>
{% endblock %}
